body {
  height: 100vh;
  width: 100%;
  border: 1px solid red;
  position: relative;
}

.calculator {
  background-color: #858693;
  width: 25%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.display {
  padding: 20% 1em 1em 1em;
  font-size: 2em;
  color: white;
  text-align: right;
}

.button-panel {
  height: 65%;
}

.group {
  width: 100%;
  height: calc(100% / 5);
  display: flex;
}
