.display {
  font-size: 2em;
  padding: 0.7em;
  color: white;
  text-align: right;
  font-weight: bold;
}

.buttonPanel {
  height: calc(100% - 100px);
}

.group {
  width: 100%;
  height: calc(100% / 5);
  display: flex;
}

.numbers {
  background-color: #e0e0e0;
}

.operators {
  background-color: #f5913e;
}

.button {
  flex: 1;
  border: 1px solid #d3d3d3;
}

.smallButton {
  flex: 0.5;
  border: 1px solid #d3d3d3;
}
